@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.heart {
  margin-top: 10px;
  /* border: 1px solid black; */
  background-color: red;
  display: inline-block;
  height: 100px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 100px;
}

.heart:before,
.heart:after {
  /* border: 1px solid black; */
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 100px;
  position: absolute;
  width: 100px;
}

.heart:before {
  top: -50px;
  left: 0;
}

.heart:after {
  left: 50px;
  top: 0;
}

.hexagon-mask {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Basic triangle */
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.rombus-mask {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.decagon-mask {
  clip-path: polygon(
    34.54915% 2.44717%,
    65.45085% 2.44717%,
    90.45085% 20.61074%,
    100% 50%,
    90.45085% 79.38926%,
    65.45085% 97.55283%,
    34.54915% 97.55283%,
    9.54915% 79.38926%,
    0% 50%,
    9.54915% 20.61074%
  );
}
.parallelogram-mask {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.circle-mask {
  clip-path: circle(50% at 50% 50%);
}

.trapezoid-mask {
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
}

.special-mask {
  /* clip-path: polygon(63% 0, 100% 0, 100% 35%, 100% 70%, 74% 83%, 44% 100%, 0 100%, 0% 70%, 0% 35%, 31% 17%);  */

  /* width: 200px;
  height: 200px;
	background: #FF5252; */
  /*clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); */
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.lab-bottle-mask {
  -webkit-clip-path: polygon(
    20% 0,
    80% 0,
    100% 10%,
    100% 90%,
    80% 100%,
    20% 100%,
    0 90%,
    0 10%
  );
  clip-path: polygon(
    20% 0,
    80% 0,
    100% 10%,
    100% 90%,
    80% 100%,
    20% 100%,
    0 90%,
    0 10%
  );
}

.hexagon-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../../public/masks/hexagon-cover.svg");
  mask-size: cover;
  aspect-ratio: 277 / 301;
}

.circle-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../../public/masks/pill-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}

.star-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../../public/masks/star-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}

.flower-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../../public/masks/flower-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}

.parent-cover {
  position: relative;
  width: 70%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 2rem auto;
}

.video-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0px auto;
}



.door-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../../public/masks/door-cover-2.svg");
  mask-size: cover;
  aspect-ratio: 1;
}


.heart-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../../public/masks/heart-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}



.house-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../../public/masks/house-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}




.mellow-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../../public/masks/mellow-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}


.stripe-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../../public/masks/stripe-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}



.chat-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../../public/masks/chat-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}


.cloud-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../../public/masks/cloud-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}




.saw-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../../public/masks/saw-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}



